@import "../assets/variables.scss";

.c-cSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cSpace {
    background: $lightViolet;
    border: $border;
    box-shadow: $shadow;
    border-radius: $br;
    overflow-y: auto;
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 5px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: #000000;
      border: 1px solid #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      background: #58347c;
      border: 0px none #ffffff;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }

    &::-webkit-scrollbar-button {
      width: 7px;
      height: 7px;
    }
    .y-cSpace {
      display: flex;
      flex-direction: column;
      width: 95%;
      align-items: flex-end;

      .y-cSpace-img {
        width: $imgProfile;
        height: $imgProfile;
        border-radius: 50%;
        border: $border;
      }
      .c-y-cSpace-m {
        background: $darkViolet;
        width: 80%;
        margin-right: clamp(2rem, 5vw, 3.5rem);
        padding: $padding-btn;
        border: $border;
        border-radius: 30px 0px 30px 30px;
        color: $white;
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        text-align: end;
        color: $deepWhite;
        .y-cSpace-n {
          font-size: $pClamp1rem;
          color: $white;
        }
        .y-cSpace-r {
          font-size: clamp(0.5rem, 1.5vw, 0.8rem);
        }
      }
    }
    .u-cSpace {
      display: flex;
      flex-direction: column;
      width: 95%;
      .cSpace-img {
        width: $imgProfile;
        height: $imgProfile;
        border-radius: 50%;
        border: $border;
      }
      .c-cSpace-m {
        background: $darkViolet;
        width: 80%;
        margin-left: clamp(2rem, 5vw, 3.5rem);
        padding: $padding-btn;
        border: $border;
        border-radius: 0px 30px 30px 30px;
        color: $deepWhite;
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        .cSpace-n {
          font-size: $pClamp1rem;
          color: $white;
        }
        .cSpace-r {
          font-size: clamp(0.5rem, 1.5vw, 0.8rem);
        }
      }
    }
  }
  .cSpace-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 5px;
  }
}
