@import "../assets/variables.scss";

.c-e-u {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .e-u-fullCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .e-u-card {
      background-color: $deepWhite;
      border: $border;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      width: 16rem;
      .e-u-img {
        width: $imgProfile;
        height: $imgProfile;
        border: $border;
        box-shadow: $shadow;
        border-radius: 50px;
      }
      .e-u-p {
        text-align: center;
        font-size: $pClamp1rem;
      }
    }
  }
}
