@import "../assets/variables.scss";

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  header {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    .c-page-profile {
      display: flex;
      align-items: center;
      .p-img-profile {
        border-radius: 50px;
        border: $border;
        width: $imgProfile;
        height: $imgProfile;
      }
      .p-p-profile {
        color: $black;
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        font-weight: 900;
        margin-left: 0.3rem;
      }
    }
  }
}
