@import "../assets/variables.scss";

.c-signIn {
  background-color: $lightViolet;
  border-radius: $br;
  border: $border;
  padding: 1rem;
  .h-signIn {
    color: $black;
    font-size: $font-sign;
    text-align: center;
  }
  .f-signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}
